@model RoleVm

@{ }

<div>
    <form asp-controller="Roles" asp-action="CreateRole" method="post">
        <label>Create new Role</label>
        <input asp-for="@Model.Name" />
        <input type="submit" value="Create" />
    </form>
</div>