@{ ViewData["Title"] = "Privacy Policy"; }





<div>
    <br/>
    <h1>@ViewData["Title"]</h1>
    <br/>
    <p>User this Page for Educational purpose only</p>
    <p> You can Fork the Code on my Git repository. Do not copy!</p>
    <p> Git link is private until May-2021</p>

    <a class="btn-dark h5" href="https://github.com/ElvisCamacho/kanbanBoad.git" target="_blank"> GitRepo Here</a>
</div>